.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  padding: 10px 30px;
  padding-top: 20px;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 0px;
}

.header-logo {
  height: 30px;
  width: 100px;
}

.pages {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-links {
  text-decoration: none;
  margin: 0 10px;
}

.page-name {
  color: #ffffff;
  font-family: 'Roboto';
}

.logout-btn {
  background-color: #4f46e5;
  color: white;
  font-size: 12px;
  outline: none;
  border: none;
  padding: 7px 15px;
  border-radius: 4px;
}

/* ✅ Responsive */
@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .pages {
    flex-direction: column;
    width: 100%;
  }

  .page-links {
    margin: 10px 0;
  }

  .logout-btn {
    align-self: center;
    margin-top: 10px;
  }
}
